@model RojgarMantra.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}


@*<div class="main-content-header container-fluid p-4">
    <div>
        <h6 class="main-content-title tx-18 mg-b-5 mg-t-7">@ViewBag.Title.</h6>
    </div>
</div>
<div class="main-signin-wrapper">
    <div class="row text-center pl-0 pr-0 ml-0 mr-0">
        <div class="col-lg-3 d-block mx-auto">
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Enter your email.</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group col-md-10" style="margin:auto">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            <div class="">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10" style="margin:auto">
                                
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>*@

<!-- Main-signin-wrapper -->
<div class="main-signin-wrapper">
    <div class="row text-center pl-0 pr-0 ml-0 mr-0">
        <div class="col-lg-3 d-block mx-auto">
            <div class="card">
                <div class="card-body">
                    <img src="~/Content/Images/logo-3.png" class="mb-3" alt="Logo">
                    <h4>Forgot Password!</h4>
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })   @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                        <input type="submit" class="btn btn-main-primary btn-block" value="Email Link" />
                        <div class="main-signin-footer mg-t-5">
                            <p>Forget it, <a href="@Url.Action("Login","Account")"> Send me back</a> to the sign in screen.</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main-signin-wrapper -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
