@model RojgarMantra.Core.Models.UserAddEditModel

<form id="FrmUserAddEdit">

    <div class="box">
        <div class="box-body">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <label>First Name*</label>
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @type = "text" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Middle Name</label>
                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control", @type = "text" })
                @Html.ValidationMessageFor(m => m.MiddleName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Last Name*</label>
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @type = "text" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Email*</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="box-footer text-right">
            <input type="button" id="BtnSave" class="btn btn-warning" value="Save" />
        </div>
    </div>
</form>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js"></script>
<script>
    $(function () {
        userAddEdit.init();
    });
</script>
